.custom-file-upload {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 6px;

   width: 100%;
   height: 200px;

   background: #f3f0ff;
   border: 1px dashed #c1b2fa;
   border-radius: 8px;

   cursor: pointer;
   transition: all 1s;
}

.custom-file-upload:hover {
   background-color: #c0b2fa8f;
}

.custom-file-upload h2 {
   font: normal 700 16px/130% Inter, sans-serif;
   margin-top: 24px;
   color: #7a5fec;
}
.custom-file-upload p {
   font: normal 400 14px/130% Inter, sans-serif;
   color: #746e82;
}

input[type="file"] {
   display: none;
}
