.file-sucess .icon-file {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 48px;
   height: 56px;

   background: #daf2d9;
   border-radius: 4px;
}

/* content */
.file-sucess .content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 0px;
   gap: 4px;
   isolation: isolate;

   width: 364px;
   height: 56px;

   /* Inside auto layout */
}

.file-sucess .header {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.file-sucess .title {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 2px;
}
.file-sucess .title h3 {
   font: normal 700 14px/130% Inter, sans-serif;
   color: #575361;
}
.file-sucess .title p {
   font: normal 500 12px/130% Inter, sans-serif;
   color: #857e95;
}

.file-sucess .progress {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;

   width: 100%;
}
.file-sucess .progress .loader {
   display: flex;
   flex-direction: column;
   align-items: flex-start;

   width: 100%;
   height: 8px;

   background: #e3e3ed;
   border-radius: 999px;
}
.file-sucess .progress .loader .bar {
   width: 100%;
   height: 8px;
   border-radius: 999px;

   background: #73b172;
}
.file-sucess .progress p {
   font: normal 500 12px/130% Inter, sans-serif;
   color: #4e884d;
}
